uv
python-dotenv>=1.0.0

langgraph
langgraph-prebuilt
langchain-core
langchain-community
langchain-openai
langchain-mcp-adapters
mcp
httpx
requests

langchain-text-splitters
faiss-cpu

prance
swagger-spec-validator
